@import '../../styles/variablesColors';

.wrapper {
  width: 120px;
  height: 24px;
  border-radius: 89px;
  padding: 4px 10px 4px 10px;
  background: $black;
  color: $white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  font-style: normal;

  &._active {
    background: $white;
    color: $black;
  }

  &._activeBlock {
    padding: 0;
    border-radius: 89px;
    color: $black;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    font-style: normal;

    ::placeholder {
      color: $black;
      font-size: 14px;
      line-height: 16px;
      font-weight: 700;
      font-style: normal;
    }
  }
}

.container {
  position: relative;
  z-index: 2;
  height: 24px;
  border-radius: 89px;
}

.button {
  position: absolute;
  right: 3px;
  top: 3px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &._hover {
    background: $red;
  }
}

.delete {
  width: 12px;
  height: 12px;
  display: block;
}

.textarea {
  width: 100%;
  resize: none;
  border-radius: 89px;
  padding: 4px 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  font-style: normal;
  border: none;

  &::placeholder {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    font-style: normal;
  }

  &:focus {
    border: none;
    outline: none;
  }
}