@import '../../styles/variablesColors';

.wrapper {
  width: 152px;
  height: 32px;
  border-radius: 12px;
  padding: 10px;
  background: $white;
  box-shadow: 0 3px 7px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
}

.item {
  cursor: pointer;
}

.plus {
  width: 12px;
  height: 12px;
  display: block;
}