@import '../../styles/variablesColors';

.wrapper_global {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 152px;

  &:not(:first-child) {
    margin-top: 40px;
    margin-right: 40px;
    display: inline-flex;
  }
}

.toolbar {
  position: absolute;
  top: -38px;
  left: 0;
  right: 0;
  z-index: 2;
}

.wrapper {
  position: relative;
  z-index: 3;
  width: 100%;
  min-height: 54px;
  border-radius: 12px;
  padding: 16px;
  background: $white;
  border: 2px solid $black;
  cursor: pointer;

  //&:hover {
  //  min-height: 84px;
  //  transition: padding .2s ease-in-out;
  //}

  &._active {
    background: $black;

    .title {
      color: $white;
    }
  }
  
  &:hover {
    .button_add__row {
      transition: opacity .2s ease-in-out;
      opacity: 1;
    }
  }
}

.title {
  font-size: 16px;
  line-height: 21.82px;
  font-weight: 700;
  font-style: normal;
  color: $black;
}

.container {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.container_blocks {
  margin-top: 6px;
}

.block {
  width: 100%;

  &:not(:first-child) {
    margin-top: 6px;
  }
}

.button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  position: absolute;
  z-index: 1;
  bottom: -12px;
  left: 64px;
  transform: rotate(180deg);
  cursor: pointer;

  &._active {
    transform: rotate(0);
  }
}

.button_add__row {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  position: absolute;
  z-index: 1;
  bottom: -12px;
  left: 64px;
  cursor: pointer;
  opacity: 0;
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.page_row {
  margin-left: 0;
  margin-right: 0;

  &:not(:first-child) {
    margin-left: 40px;
    margin-right: 0;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -20px;
    left: 75px;
    width: 2px;
    height: 20px;
    background: $black;
  }
}